// --------------------------------------
// ブロック
// --------------------------------------
.bl_mainHeader {
  margin-bottom: 20px;
  padding: 17px 16px;
  border-bottom: 1px solid #d4ceca;
  background-color: #fff;

  &__pcHide {
    @include res_min($break) {
      display: none;
    }
  }
}

.bl_mainHeader_logo {
  display: block;
}

.bl_pageCenterboxWrapper {
  @include res_min($break) {
    min-height: 780px;
    height: 100vh;

    @include frc();
  }
}

.bl_pageCenterbox {
  margin: 0 #{$side}px;

  @include res_min($break) {
    margin: 0;
    width: 400px;
  }
}

.bl_pageCenterboxInner {
  @include res_min($break) {
    padding: 30px 40px 30px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .12);
  }
}

.bl_formList {
  margin-top: 20px;

  @include fs(14);

  &_check {
    @include fs(12);

    @include res_min($break) {
      @include fs(14);
    }

    a {
      color: #3b7de9;
    }

    input {
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  div {
    margin-bottom: 24px;

    @include res_min($break) {
      margin-bottom: 20px;
    }
  }

  dt {
    margin-bottom: 8px;
    font-weight: bold;

    a {
      float: right;
      font-weight: normal;

      @include fs(12);
    }
  }
}

.bl_saveLabel {
  display: block;
  text-align: center;

  @include fs(14);

  input {
    margin-right: 8px;
    vertical-align: middle;
  }
}

.bl_btnWrapper {
  margin-top: 22px;
  text-align: center;
}

.bl_pageCenterbox_logo {
  display: none;

  @include res_min($break) {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
}

// --------------------------------------
// 登録画面
// --------------------------------------
.bl_headingIcon {
  color: #f28b34;
  text-align: center;

  span {
    font-size: 60px;
  }
}

.bl_formList_small {
  display: block;
  margin-top: -5px;
  margin-bottom: 8px;
  font-weight: normal;
}

.bl_labelVertical {
  display: block;
  margin-bottom: 5px;
}

// --------------------------------------
// popup
// --------------------------------------
.bl_popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 297px;
  border-radius: 6px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: z(popup);
  @include res_min($break) {
    width: 480px;
  }
}

.bl_close {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 22px;
  height: 22px;
  cursor: pointer;

  @include res_min($break) {
    top: 20px;
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #d4ceca;
    content: '';
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.bl_popUp_header {
  padding: 13px 24px;
  border-bottom: 1px solid #d4ceca;
  font-weight: bold;
  @include fs(16);

  @include res_min($break) {
    @include fs(20);
  }
}

.bl_popUp_body {
  overflow: auto;
  padding: 16px;
  height: 345px;
  line-height: 2;

  @include res_min($break) {
    padding: 24px;
    max-height: calc(100vh - 65px);
    height: 550px;
    @include fs(14);
  }

  @include fs(12);

  p {
    margin-bottom: 20px;
  }
}

.bl_popUp_dl {
  >div {
    margin: 20px 0;
    counter-increment: term;
  }

  dt {
    margin-bottom: 20px;

    &::before {
      content: '第'counter(term)'条 ';
    }
  }
}

.bl_dotList {
  li {
    margin-bottom: 20px;
    counter-increment: termList;

    &::before {
      content: counter(termList)'.';
    }
  }
}

.bl_bracketsList {
  li {
    margin-top: 20px;
    margin-bottom: 20px;
    counter-increment: termbracketsList;

    &::before {
      content: '('counter(termbracketsList)')';
    }
  }
}
.bl_glayLayer{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: z(grayback);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0,0.8);
}
