// --------------------------------------
// エレメント
// --------------------------------------
.el_lv2Heading {
  margin-bottom: 24px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d4ceca;
  text-align: center;
  font-weight: bold;

  @include fs(16);
}

.el_input {
  padding: 9px;
  width: 100%;
  border: 1px solid #d4ceca;
  border-radius: 4px;
  background-color: #fff;
  font-weight: normal;

  @include fs(16);
}

.el_require {
  &::after {
    display: inline-block;
    margin-left: 5px;
    width: 36px;
    border: 1px solid #e01e5a;
    color: #e01e5a;
    content: '必須';
    text-align: center;
    line-height: 17px;

    @include fs(10);
  }
}

::placeholder {
  color: #ccc;
}

.en_btn {
  min-width: 280px;
  min-height: 42px;
  border-radius: 4px;
  background-color: #f28b34;
  color: #fff;

  @include fs(13);
}

.el_textCenterLink {
  display: block;
  margin-top: 22px;
  text-align: center;
  letter-spacing: 1.2px;

  @include fs(12);

  @include res_min($break) {
    @include fs(14);
  }
}

.el_error {
  margin-top: 4px;
  color: #e01e5a;

  @include fs(12);
}

.el_txt01 {
  @include fs(14);

  em {
    color: #f28b34;
    font-style: normal;
  }
}
