extends ../_inc/_layout
block vars
  - var page = 'noHeader'

block title
  title

block main
  .bl_pageCenterboxWrapper
    .bl_pageCenterbox
      .bl_pageCenterbox_logo
        img(src="/images/logo.svg", alt="famione", width="180", height="32", loading="lazy")
      .bl_pageCenterboxInner
        h2.el_lv2Heading ログイン
        form(action="")
          dl.bl_formList
            div
              dt.el_require メールアドレス
              dd
                input(type="email",placeholder="メールアドレス").el_input
                //.el_error 『正しいメールアドレスをご入力ください』が表示されたエラー画面を表示
            div
              dt.el_require
                |パスワード
                a(href="#") パスワードを忘れた方はこちら
              dd
                input(type="password",placeholder="パスワード").el_input
          label.bl_saveLabel
            input(type="checkbox")
            |ログイン状態を保存する
          .bl_btnWrapper
            input(type="submit" value="ログイン").en_btn

          a(href="#").el_textCenterLink 新規会員登録はこちら
